<div class="bg-grey-1 pv4">
  <div class="ph3 mw7 center">
    <h2 class="f3 b lh-title mb2">{{.campaigns.heading}}</h2>
    <p class="mb4 mw6">{{.campaings.text}}</p>

    <div class="flex-ns mhn2-ns mb3">
      <div class="ph2-ns w-50-ns">
        <img src="{{.campaigns.image}}" alt="" class="center db mb3" style="width: 240px">
        <p>{{.campaigns.text}}</p>
      </div>
    </div>

    <div class="tl">
      <a href="/campaings" class="btn raise">More Information</a>
    </div>
  </div>
</div>
