<div class="bg-grey-1 pv4">
  <div class="ph3 mw7 center">
    <h2 class="f3 b lh-title mb2">{{.intro.heading}}</h2>
    <p class="mb4 mw6">{{.intro.text}}</p>

    <div class="flex-ns mhn2-ns mb3">
      {{ range .information }}
      <div class="ph2-ns w-50-ns">
        <img src="{{.image}}" alt="" class="center db mb3" style="width: 240px">
        <p>{{.text}}</p>
      </div>
      {{ end }}
    </div>

    <div class="tl">
      <a href="/information" class="btn raise">More Information</a>
    </div>
  </div>
</div>
